# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Logs
*.log

# Compiled C files
*.so

# Database files
*.sqlite3

# Coverage & testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# MyPy
.mypy_cache/

# Uvicorn reload file
reload.db

# Build
build/
dist/
*.egg-info/
